<% content_for :title, "About Comfe Designs" %>
<% stylesheets 'informatic', :media => "all" %>
<%= render :partial => 'layouts/partials/aboutheader' %>

<div id="bigpicture">
    <img class="carousel" src="<%= asset_path('about_bkg_1.png') %>" width="1000" height="510" />
    <img class="carousel" src="<%= asset_path('about_bkg_2.png') %>" width="1000" height="510" />
    <img class="carousel" src="<%= asset_path('plane.png') %>" width="1004" height="510" />

    <span>
        <%= link_to 'Work & Team', "#team", :class => 'smooth' %>
        <%= link_to 'Design', "#design", :class => 'smooth' %>
        <%= link_to 'The Story', "#story", :style => "margin-right: 0;" %>
    </span>
</div>

<ul class="slideshow about">
    <li class="selected"></li>
    <li></li>
    <li style="margin-right: 0;"></li>
</ul>

<div class="informatic about">
    <div class="secondarytitle" id="team">
      <h2>Comfe Team</h2>
      <h3 class="about">Believe. Lead. Change.</h3>
        <span class="stacked">
            <ul class="about">
                <li><img src="<%= asset_path('team_42.png') %>" width="96" height="96"/></li>
                <li><img src="<%= asset_path('team_44.png') %>" width="96" height="96" /></li>
            </ul>
            <p>Comfe Designs is a team of product designers and tech entrepreneurs. We are creating accessories that are just as desirable as the latest tech gadgets. Our work is diverse: material science, product design, manufacturing, robotics, software, etc. We turn ideas into products.</p>
            <p>We're looking for pros to join our team. Send an email and tell us what you're good at: info'at'comfedesigns'dot'com.</p>
        </span>
    </div>
</div>

    
<div class="informatic about">
    <div class="secondarytitle" id="design">
      <h2>Comfe Design</h2>
      <h3 class="about">Love. Travel. Make.</h3>
        <span class="stacked">
            <p>We focus on products for <em>people</em>, not products for other products. We were tired of seeing accessories made for phones and tablets instead of the people that use them. The philosophy behind all of our ideas is simple.</p>
            <p><em>Love People</em>. A keen interest in the world's people and in meeting their needs.</p>
            <p><em>Travel to See Them</em>. Design in places where customers use our products--where they live and work. Traveling is one of the most inspirational parts of the work. We try not to have offices.</p>
            <p><em>Make Them Great Products</em>. What better way to create happiness than to give someone something that makes their life better?</p>
        </span>
    </div>
</div>
    
    
<div class="informatic about">
    <div class="secondarytitle" id="story">
      <h2>Comfe Story</h2>
      <h3 class="about">The Beginning</h3>
        <span class="stacked">
            <p>2011: Comfe starts with a product idea for iPads and a cardboard model. People said, "Wow! This is really comfy!" And the name stuck. (We added "e" for electronics.) We were software geeks wanting to make accessories that we liked but couldn't get.</p>
            <p>2012: We traveled to Hawaii and spent several months working on the triathlon trail to create Comfe Arms. Competing with big dogs like Belkin and Logitech meant building the greatest products that meet the needs of demanding customers.</p>
            <p>2013: Release of Comfe Arms and starting on several new product ideas. We grew rapidly and had to keep pace with the demands of customers, the ones we love to serve.</p>
            <p>Today: Our dream is to build the most exciting accessories company we have ever heard of. We focus on novel ideas and materials to build exceptional products you have never seen before.</p>
        </span>
    </div>
</div>