<% content_for :title, "Comfe Arms" %>
<% stylesheets 'products', :media => "all" %>
<%= render :partial => 'layouts/partials/armsheader' %>
<%= stylesheet_link_tag "productdesign", :media => "all" %>

<div id="armsdesign" class="relative frontpage">
	<div class="relative">
		<h1>Designed for life. Made for comfort.</h1>
		<h2>Natural motion—that's smart.</h2>
		<img src="<%= asset_path 'frontpage_design.png' %>" style="top:150px; left:0;"/>
	</div>
	<div class="closinglinks"> <%= link_to "see design", armsdesign_path %> </div>
</div>


<div id="armsfeatures" class="relative frontpage">

	<div class="relative closingdiv">
		<h1>Feeling is believing.</h1>
		<h2>Fabric that feels great does amazing things.</h2>
			
		<img src="<%= asset_path 'feely_fabric_white.png' %>" style="margin-bottom: 20px;"/>

		<div class="icons">
			<span class="icon" id="silver"></span>
			<h3>Silver fabric kills stink and bacteria.</h3>
			<p>The only band with built-in bling. Silver impregnated fabric uses 100% pure silver to kill bacteria that causes odor. Made for soldiers. Now brought to you.</p>
		</div>
		<div class="icons">
			<span class="icon" id="moisture"></span>
			<h3>Moisture-wicking quick dry fabrics.</h3>
			<p>Dual-layer base wicks and dries with a puff of air. A uniquely layered top sheds water and keeps your equipment dry in case you're caught in the rain.</p>
		</div>
		<div class="tinyfeats">
			<%= link_to "all features", armsfeats_path %>
		</div>
		
	</div>

	<div class="closinglinks">
		<%= link_to	"buy", armsbuy_path %>
	</div>

</div>

<iframe name="catcher" height="0"></iframe >