<%= content_for :head, (render :partial => 'layouts/partials/basiclayoutsheets') %>

<%= render :partial => 'layouts/partials/stdheader' %>

<% stylesheets 'informatic', 'news', :media => "all" %>

<div class="informatic">
    <h1>Comfe Designs Blog</h1>
    
    <div class="secondarytitle">
        <h2>iPad Posture is Gaining Attention</h2>
        <span class="stacked">
            <iframe style="display: block; margin: 0 auto;" width="560" height="315" src="http://www.youtube.com/embed/EaGKujCxtjk" frameborder="0" allowfullscreen></iframe>
            <p>Tablet ergonomics is finally getting the attention it deserves from some in mainstream media.</p>
            <p class="righted">1/18/13</p>
        </span>
    </div>
        
    <div class="secondarytitle">
      <h2>When You Hit The Wall</h2>
        <span class="stacked">
            <img class="righted" src="<%= asset_path 'the_wall.png' %>" width="350" height="223" style="padding: 5px 0px 15px 15px;" alt="the wall of resistance" />
            <p>A few weeks ago I hit a wall. Work was going great until someone told me, "it can't be done." How many times has an <em>expert</em> said this about an envisioned technology? Frustration followed. Spit. Angry shouts. 20 pushups.</p>
            <p>If you've ever endeavoured to change, to improve, to create, or otherwise make a difference, you have met The Wall. Change always comes with resistance. The most difficult seems to come from other people and from ourselves. From other people because it's easy to take rebuffs personally. From ourselves because pride keeps us from admitting we need to be different; we're reluctant to lose things and habits which make us feel good or right.</p>
            <p>An agent of change gets resistance from other people. Why? Because the agent looks like the wall. So don't be surprised when they get angry or don't understand. Don't take it personally. It's not right. When we take it personally, we focus on the person instead of the problem. I like to get a moment of silence to remember that I must be the change, work smarter, and sometimes harder.</p>
            <iframe class="righted" src="http://rcm.amazon.com/e/cm?lt1=_blank&bc1=FFFFFF&IS2=1&npa=1&bg1=FFFFFF&fc1=000000&lc1=3E3EFF&t=comfdesi-20&o=1&p=8&l=as1&m=amazon&f=ifr&ref=tf_til&asins=1936719010" style="width:120px;height:200px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe> 
            <p>There's only one solution to personal change that works 100% of the time for me. "Do the Work!" This was the title of a book recently authored by Steven Pressfield and recommend to me by a Silicon Valley billionaire. Here's a valuable lesson: Resistance will tell you anything you want to hear to convince you not to take action. Ignore it. Follow through. Do it now. Now!</p>
            <p>A good friend once explained the options for facing The Wall. Hop over it. Dig under it. Walk around it. (my favorite) Go through it. Stay there. Or turn around. I like the way that gets me to success. The experts are often wrong. Made it over this time.</p>
            <p class="righted">12/25/12</p>
        </span>
    </div>

    <div class="secondarytitle">
      <h2>Hawaiian Design pt. 2</h2>
        <span class="stacked">
            <img class="righted" src="<%= asset_path 'blog2_2.png' %>" width="350" height="186" style="padding: 15px;" alt="pololu valley" />
            <p>Something about travel comforts and inspires. Maybe it's the change in scenery. New people and new words. The excitement of finding adventure everywhere. Exploration is built into human DNA. There's nothing quite like cycling down a steep mountain with nothing but the ocean and wind in front of you.</p>
            <p>This place is definitely rubbing off. The designs we've come up with are uniquely inspired by the landscape and the wonderful people. An artist probably can't help being influenced by their environment. There's a sense here that the new band must be as energetic and pure as the lava, the mountains, the rolling ocean. </p>                    
            <p>It's interesting to see other designers express this same feeling. Recently this video from SmartWool® (makers of my favorite snowboard socks) had this to say about where their inspiration and designs come from:</p>
            <iframe width="560" height="315" style="display: block; padding: 15px 0;" src="http://www.youtube.com/embed/fs5gqsggWW0" frameborder="0" allowfullscreen></iframe>
            <p>Take a few minutes today to be inspired!</p>
            <p class="righted">12/05/12</p>
        </span>
    </div>

    <div class="secondarytitle">
      <h2>Hawaiian Design pt. 1</h2>
        <span class="stacked">
            <p>In Kona, Hawaii to design <a href="comfearms.html">Comfe Arms</a>, our newest product. Kona is home to the IRONMAN Triathlon and it seemed like the perfect place to begin designing a new sports band for people who get outdoors and carry their smart phones / music players. Here are a few things the team has learned about designing a product here.</p>
            <img class="righted" src="<%= asset_path 'triathlon_trail.png' %>" width="350" height="248" style="padding: 15px;" alt="triathlon trail view" />
            <p>Besides the warm weather, Kona offers direct access to actual customers on the trail. The best designs seem to always emerge in the places where products are intended for use. Since Comfe Arms is meant for runners, bikers, and walkers of all skill levels, we decided to get out on the trail and find out what it's actually like.</p> 
            <p>The IRONMAN is tough. 112 miles of cycling and another 26.2 miles of running (plus a 2.4 mile swim). The trail is a strong cocktail of heat and wind and sun. Rolling hills mix with sky-filled lava fields. Some of the best runners and bikers live and train here.</p>
            <p>Living and working in the community has given us a chance to understand the challenges athletes face. The first checkpoint was to find out what other products existed and if they made us (and others) unhappy. So many problems surfaced: Plasticy cases. Bands that buckle down as tight as  tourniquets. Moisture leaking through to the phone. Bands that don't stay in place. Etc. etc.</p>
            <p>Understanding the problems with existing products has been a boon to the work. Everything that follows--all the capital, all the tech, and all the brainpower--goes to solve the problems. Maybe that's true for all endeavors. Defining a clear problem is critical for success. Problems establish a finish line to aim for and help us picture solutions in our heads. The problems discovered here have also given key insights that have helped Comfe Arms become radically different and better than competing products.</p>
            <p class="righted">11/27/12</p>
        </span>
    </div>
</div>