<% content_for :title, "Comfe Designs" %>
<%= render :partial => 'layouts/partials/stdheader' %>

<div id="headline" class="relative">
	<a href="http://www.comfehands.com" target="_blank">
        <img id="main_line" width="600" height="94" src="<%= asset_path('headlines_1.png') %>" />
        <img class="carousel" width="557" height="502" src="<%= asset_path('headlines_3.png') %>" />
        <img class="carousel" src="<%= asset_path('gameplay.png') %>" width="550" height="386" />
        <img class="carousel" src="<%= asset_path('piano_layout.png') %>" width="600" height="201" />
    </a> 
</div>
    
<ul id="slideshow" class="slides">
	<li class="selected"></li>
    <li></li>
    <li style="margin-right: 0;"></li>
</ul>
    
<div id="detail_links">
	<%= link_to '', hands_path(@hands, :anchor => 'feats'), :id => "features" %>
    <%= link_to '', hands_path(@hands, :anchor => 'des'), :id => "design" %>
    <%= link_to '', hands_path(@hands, :anchor => 'every'), :id => "everyone" %>
</div>