<% content_for :head, (render :partial => 'layouts/partials/basiclayoutsheets') %>

<div id="header" class="relative">
    
    <%= render :partial => 'layouts/partials/topbar' %>

    <div class="center relative" id="prod_identity">
        <img id="prod_logo" src="<%= asset_path('carms_logo.png') %>" width="360" height="58" class="absolute"/>
        <h4 class="price absolute">coming soon</h4>
    </div>
    
    <%= render :partial => 'layouts/partials/armstoplinks' %>

    <!-- <ul id="socials" class="relative">
        <p id="social_comment" class="absolute">"awesome product! I bought extra for my kids. -Kyle, San Antonio"</p>
        <li style="background-position: -51px 0;"></li>
        <li style="background-position: -102px 0;"></li>
        <li style="background-position: -153px 0;"></li>
        <li style="background-position: -204px 0;"></li>
        <li style="margin-right: 0; background-position: -454px 0;"></li>
    </ul> -->

    <div class="center relative" id="prod_display">
        <img src="<%= asset_path 'comfe_arms_banner_v2_01.png' %>" width="199" height="331" class="absolute rollin" style="left:-50px;"/>
        <img src="<%= asset_path 'comfe_arms_banner_v2_03.png' %>" width="365" height="331" class="absolute rollin" style="left:200px"/>
        <img src="<%= asset_path 'comfe_arms_banner_v2_05.png' %>" width="173" height="331" class="absolute rollin" style="left:625px"/>

        <h1>For <em>people</em> with gadgets who get out.</h1>
    </div>
</div> 