<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<meta property="og:title" content="Comfe Designs" />
<meta property="og:type" content="products" />
<meta property="og:site_name" content="Comfe Designs" />
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<%= csrf_meta_tags %>
<title><%=h yield(:title) %></title>
  
<%= yield(:head) %>

<%= javascript_include_tag "application" %>

<!-- Don't forget to add Google Analytics -->

<link href='http://fonts.googleapis.com/css?family=Arimo:700,700italic' rel='stylesheet' type='text/css' />
</head>


<body id="<%= setBodyId(yield(:title)) %>">

    <div id="body" class="relative">

    <%= yield %>

    </div>

    <div id="footer" class="relative">
          
        <div id="foot_links" class="relative center"> 
            <div id="page_links">
            	<%= link_to "About", about_path %>
                <%= link_to "News", news_path %>
                <%= link_to "Blog", "http://blog.comfedesigns.com", :target => '_blank' %>
                <%= link_to "Contact", contact_path %>
                <%= link_to "Sitemap", sitemap_path %>
    		</div>
                
            <div id="location" class="absolute">
            	<%= link_to "Located in Greenville, SC", "http://bit.ly/VRAM6g", :class => 'lefted', :target => '_blank' %>
    		</div>           
                
    		<img id="flag" class="absolute" src="<%= asset_path('flag.png') %>" width="49" height="36" />
    	</div>
                    
        <div id="about" class="relative center">
    	<div id="top"></div>
        <div id="mid">
       		<img id="logo" src="<%= asset_path('logo.png') %>" class="lefted" width="107" height="53" />
        	
            <p class="lefted"><strong style="color: #5c7078;">About Comfe Designs</strong>: We are a design firm specializing in consumer electronics experience. Our creations focus on novel experiences that are highly functional, fashionable, and ergonomic.</p>

            <p class="lefted">Everyday gadgets should feel as good as they look. Comfe Designs strives to make people smile&#8212;and keep them smiling&#8212;with every experience.</p>
    	</div>
                    
    	<div id="btm"></div>
            
    	<div id="credits" class="relative center">
    		<p class="lefted">TM &amp; &copy; 2012 Comfe Designs LLC. All Rights Reserved. </p>
    	            
    		<span class="righted">
    	    	<a href="legal.html">Terms of Use</a>
    	        <a href="legal.html" style="margin-right: 0;">Privacy Policy</a>
    	    </span>
    	</div>
        
    </div>

</body>

</html>
